body {
  background-color: #cc9f18;
}

#container {
  margin: auto;
  width: 900px;
}

h1,
h2,
h3 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 15px;
}

/* header */
header {
}
#logo {
  width: 15%;
  margin-right: 50%;
}

/* The navigation bar */
#navbar {
  overflow: hidden;
  position: fixed;
  top: 0.1%;
  align-items: center;
  width: 1200px;
  margin-left: -10.4%;
  background: #342922;
  border: solid 0.2em #342922;
  border-radius: 0.3em;
  height: 4em;
  display: flex;
  justify-content: end;
  z-index: 11;
}

#navbar a {
  padding-right: 1.5em;
  color: whitesmoke;
  text-decoration: none;
  transition: 1s ease;
}

#navbar a:hover {
  background-color: #cc9f18;
  transition: background-color 1s ease-in-out;
  padding: 1.5em 1em;
  color: #342922;
}
/* Section Un*/

#slideImage {
  overflow: hidden;
  box-shadow: 0.5em 0.5em 3em #342922;
  border: solid 0.2em #342922;
  border-radius: 0.3em;
  margin-top: 6em;
  width: 897px;
  height: 377px;
}

#containerSlideImg {
  display: flex;
  transition: margin-left 1.5s cubic-bezier(0.2, 1.02, 0.63, 0.68);
  /*overflow: hidden;*/
}

.slideImg {
  /*border: solid 0.2em whitesmoke;*/
  /*border-radius: 0.3em;*/
  height: 380px;
}

.textModeEmploi {
  position: relative;
  bottom: 13em;
  right: 1em;
  font-size: 30px;
  text-align: end;
  font-weight: bold;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 4em;
}

#leftArrow {
  font-size: 2.5em;
  color: #342922;
  background-color: rgba(204, 159, 24, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#buttonPaus {
  font-size: 1.5em;
  color: #342922;
  background-color: rgba(204, 159, 24, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 1.5em 0 1.5em;
}

#rightArrow {
  font-size: 2.5em;
  color: #342922;
  background-color: rgba(204, 159, 24, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#slideDescription {
  margin: 2em 0 2em 0;
}

/* section deux */

#sectionDeux {
  display: flex;
  width: 1200px;
  margin: auto;
}

#mapVelo {
  height: 410px;
  width: 800px;
  border: solid 0.2em #342922;
  border-radius: 1em;
  margin-left: -200px;
  z-index: 10;
}

#formul {
  border: solid 0.2em #342922;
  border-radius: 1em;
  height: 410px;
  width: 390px;
  margin-left: 10px;
  z-index: 10;

  background-image: linear-gradient(
    to bottom right,
    #cc9f18 50%,
    rgba(52, 41, 34, 0.8) 0%
  );
}

#infoStation p {
  color: #342922;
}

#stationName {
  height: 0.5em;
}
#stationAddress {
  height: 1.8em;
}

#formulInput {
  position: relative;
  bottom: 1.2em;
  display: none;
}

#formulNom,
#formulPrenom {
  margin-left: 14em;
}

#Nom,
#Prenom {
  width: 142px;
  height: 16px;
}

#formulBouton {
  position: relative;
  top: 27.85em;
  right: 12.6em;
  width: 145px;
  height: 22px;
  z-index: 10;
  display: none;
}

#formulBouton:hover {
  box-shadow: 0.5em 0.3em 0.8em rgba(204, 159, 24, 0.5);
}

fieldset {
  border: none;
}

input,
#formulBouton {
  background-color: #342922;
  color: whitesmoke;

  border: solid 0.2em whitesmoke;
  border-radius: 1em;
}

#helpId {
  position: relative;
  left: 8em;
  top: 0.3em;
  color: #cc9f18;
}

/* section canvas head */

#canvasHead {
  position: relative;
  bottom: 416px;
  left: 614px;
  border: solid 0.2em #342922;
  border-radius: 1em;
  height: 410px;
  width: 390px;

  background-image: linear-gradient(
    to top left,
    #cc9f18 50%,
    rgba(52, 41, 34, 0.8) 0%
  );

  text-align: center;
  opacity: 0;
}

.btCanvasCss {
  margin: 1em;
  width: 130px;
  height: 22px;
  background-color: #342922;
  color: whitesmoke;

  border: solid 0.2em whitesmoke;
  border-radius: 1em;
}

.btCanvasCss:hover {
  box-shadow: 0.5em 0.3em 0.8em rgba(52, 41, 34, 1);
}

/* Div Donnée de reservation */

#textData {
  position: relative;
  bottom: 400px;
  left: 0px;
  color: #342922;
  font-size: 20px;
  opacity: 0;
  text-align: center;
  font-weight: bold;
}

/* footer */
footer {
  width: 1200px;
  border: solid 0.2em #342922;
  border-radius: 1em;
  margin: -17em 0 0 -12em;
  padding: 2em 0 2em 0;
  height: 10em;
  display: flex;
  justify-content: space-around;
  background-color: #342922;
}

#footerLogo {
  width: 15%;
}

/*Media */

/*Tablette*/
@media screen and (max-width: 960px) {
  #container {
    width: auto;
  }

  #logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #slideImage {
    width: 100%;
  }

  #sectionDeux {
    width: auto;
    flex-direction: column;
  }

  #mapVelo {
    width: auto;
    margin-left: 0px;
  }

  #formul {
    width: auto;
    margin: 20px 0 0 0;
  }

  #Nom,
  #Prenom {
    width: 60%;
    height: 16px;
  }

  #formulBouton {
    position: relative;
    top: -3em;
    left: 0em;
    width: 50%;
    margin: auto;
  }

  #canvasHead {
    position: relative;
    bottom: 438px;
    left: 0px;
    width: auto;
  }

  footer {
    width: auto;
    margin: -17em 0 0 0;
  }

  #footerLogo {
    width: 30%;
  }
}

/*Phone*/
@media screen and (max-width: 540px) {
  #container {
    width: auto;
  }

  #logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #slideImage {
    width: 100%;
  }

  #sectionDeux {
    width: auto;
    flex-direction: column;
  }

  #mapVelo {
    width: auto;
    margin-left: 0px;
  }

  #formul {
    width: auto;
    margin: 20px 0 0 0;
  }

  #Nom,
  #Prenom {
    width: 100%;
    height: 16px;
  }

  #formulBouton {
    position: relative;
    top: -3em;
    left: 0em;
    width: 93%;
    margin: auto;
  }

  #canvasHead {
    position: relative;
    bottom: 438px;
    left: 0px;
    width: auto;
  }

  footer {
    width: auto;
    height: auto;
    margin: -17em 0 0 0;
    flex-direction: column;
    align-items: center;
  }

  #moyenContact {
    text-align: center;
  }

  #footerLogo {
    width: 50%;
  }
}
